<h1>Stupid Coaching</h1>
<h4>Here's your question:</h4>
<div>
  <%= @question %>
</div>


<h4>Here's your answer:</h4>

<div>
  <%= @answer %>
</div>

<div>
  <%= link_to "Ask another question!", ask_path %>
</div>
